<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- <script defer src="https://cdn.tailwindcss.com"></script> -->
</head>

<body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Emotion Detector</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>

    <main role="main">


        <div class="jumbotron">
            <div class="container">
                <h1 class="display-3">About the Project</h1>
                <p>The "Emotion Detection using Real-time Webcam Feed" project employs real-time computer vision to detect and predict human emotions from live webcam input. It utilizes a deep learning model and OpenCV for face detection and emotion prediction. The project aims to offer practical emotion recognition for various applications like human-computer interaction and mood tracking. Key components include the emotion model architecture and weights, face detection using OpenCV, and real-time emotion prediction. The methodology involves importing necessary libraries, loading the pre-trained model, initializing the webcam, processing frames, detecting faces, predicting emotions, displaying real-time visualizations, enabling user interaction, and releasing resources upon program termination.</p>
                <p><a class="btn btn-primary btn-lg" href="/live" role="button">Live Demo »</a></p>
            </div>
        </div>

        <div class="container">

            <div class="d-flex justify-content-center " style="font: bold; font-size: xx-large; margin-bottom: 1rem; background-color: whitesmoke;">Applications</div>
            <div class="row">
                <div class="col-md-4">
                    <h2>Human-Computer Interaction</h2>
                    <p>This means using the project to make computer programs more aware of how people feel. By looking at live video from webcams, the system can figure out how someone is feeling and adjust how it interacts with them. For example, it might change what it shows on the screen or suggest things based on how the person is feeling, making the experience more enjoyable for the user.</p>
                </div>
                <div class="col-md-4">
                    <h2>Video Sentiment Analysis</h2>
                    <p>This involves using the project to see how people are feeling when they watch videos. This can be helpful for companies trying to figure out how well their ads or videos are received by the audience. By knowing how people react emotionally, they can make better decisions about what content to create or promote.</p>
                </div>
                <div class="col-md-4">
                    <h2>Mental Health Monitoring</h2>
                    <p>Here, the project can assist therapists in keeping an eye on how their patients are feeling during therapy sessions. By analyzing what the webcam sees, therapists can understand how their patients' emotions change over time. This helps them tailor their therapy sessions and track progress more effectively.</p>
                </div>
            </div>

            <hr>

        </div>
    </main>

    <footer class="container">
        <p class="bold">Made by :- Animish(2K21/IT/27) , Ankit(2K21/IT/28) , Anmol(2K21/IT/34)</p>
    </footer>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>


    <div id="scan-translator"></div>
</body>

</html>